<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - digitalguestbook</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            margin-bottom: 60px; /* Höhe des Footers */
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 60px; /* Höhe des Footers */
            background-color: rgb(227, 227, 227);
            color: black;
            text-align: center;
        }
    </style>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">digitalguestbook</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Appointment" asp-action="Index">Termine</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>


<!--
<footer>
    <p>
        <a href="https://www.otas.at/?gclid=CjwKCAiA_tuuBhAUEiwAvxkgTrSjbVs67wBgvBD0xsgOcYHwypl8FPrOdIS9dSsKE-e0VSFVBTvUqRoCsNoQAvD_BwE" target="_blank">OTAS Computer Software GmbH</a><br />
        <a href="https://maps.app.goo.gl/4qq3tCyyNKX7AoXK6" target="_blank">Alfred Feierfeil Straße 3, 2380 Perchtoldsdorf, Österreich</a><br />
        <a href="mailto:office@otas.at">office@otas.at</a><br />
        +43 (1) 888 05 05
    </p>
</footer>
-->

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
