@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<a href="https://www.otas.at/" target="_blank">
    <img src="https://www.otas.at/jart/prj3/otas_website_2016/resources/images/otas-logo.png" alt="OTAS Logo" style="position: absolute; top: 10px; right: 10px; width: 100px; height: auto;" />
</a>
<div class="row justify-content-center">
    <div class="col-5 mt-5">
        <div class="card login-logout-card">
            <div class="card-header">
                <ul class="nav nav-tabs card-header-tabs">
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">Register</a>
                    </li>
                </ul>
            </div>
            <div class="card-body">
                <div class="row justify-content-center">
                    <div class="col-10 my-4">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<footer style="background-color: rgb(227, 227, 227); color: black; text-align: center;">
    <p><a href="https://www.otas.at/?gclid=CjwKCAiA_tuuBhAUEiwAvxkgTrSjbVs67wBgvBD0xsgOcYHwypl8FPrOdIS9dSsKE-e0VSFVBTvUqRoCsNoQAvD_BwE" target="_blank">OTAS Computer Software GmbH</a><br>
        Alfred Feierfeil Straße 3,
        2380 Perchtoldsdorf,
        Österreich<br>
        <a href="mailto:office@otas.at ">office@otas.at</a><br>
        +43 (1) 888 05 05</p>
</footer>


@section Scripts{
    @await RenderSectionAsync("Scripts", required: false)
} 