@page
@model RegisterModel
@{
ViewData["Title"] = "Register";
Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<a href="https://www.otas.at/" target="_blank">
    <img src="https://www.otas.at/jart/prj3/otas_website_2016/resources/images/otas-logo.png" alt="OTAS Logo" style="position: absolute; top: 10px; right: 10px; width: 100px; height: auto;" />
</a>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">

            <!-- Keine Card in dem Fall da das Formular dann auf der Homepage selbst in einer Card angezeigt wird -->
            <div class="card-body">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2>Create a new account</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="mb-3">
                        <label for="firstName" class="form-label">First Name *</label>
                        <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Max" aria-required="true"/>
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">Last Name* </label>
                        <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Mustermann" aria-required="true"/>
                    </div>

                    <div class="mb-3">
                        <label asp-for="Input.Email" class="form-label">Email *</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Phone Number *</label>
                        <input type="number" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="+43 888 05 05" aria-required="true"/>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label">Password *</label>
                        <input asp-for="Input.Password" id="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password *</label>
                        <input asp-for="Input.ConfirmPassword" id="confirmpassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm password" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    <!-- End of existing form fields -->

                    <div class="mb-3 form-check">
                        <input type="checkbox" id="showPasswordCheckbox" onclick="showPassword()" class="form-check-input" />
                        <label for="showPasswordCheckbox" class="form-check-label">Show password</label>
                    </div>

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form>
            </div>

        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

<script>
    function showPassword() {
        var password = document.getElementById("password");
        var confirmpassword = document.getElementById("confirmpassword");
        if (password.type === "password" && confirmpassword.type === "password") {
            password.type = "text";
            confirmpassword.type = "text";
        } else {
            password.type = "password";
            confirmpassword.type = "password";
        }
    }
</script>
