@page
@model RegisterModel
@{
ViewData["Title"] = "Register";
Layout = "~/Areas/Identity/Pages/_AuthLayout.cshtml";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-body">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <h2 style="color: #002b6c;">Create a new account</h2>
                    <hr />
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="mb-3">
                        <label asp-for="Input.FirstName" class="form-label">Vorname *</label>
                        <input asp-for="Input.FirstName" class="form-control" autocomplete="given-name" aria-required="true" placeholder="Max" />
                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.LastName" class="form-label">Nachname *</label>
                        <input asp-for="Input.LastName" class="form-control" autocomplete="family-name" aria-required="true" placeholder="Mustermann" />
                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.Email" class="form-label">Email *</label>
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" aria-required="true" placeholder="name@example.com" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.PhoneNumber" class="form-label">Telefonnummer *</label>
                        <input asp-for="Input.PhoneNumber" class="form-control" autocomplete="tel" aria-required="true" placeholder="+43 123 1234" />
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.CompanyName" class="form-label">Firmenname</label>
                        <input asp-for="Input.CompanyName" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Example GmbH" />
                        <span asp-validation-for="Input.CompanyName" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.Password" class="form-label" style="color: #002b6c;">Password *</label>
                        <input asp-for="Input.Password" id="password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Password" style="color: #002b6c;" />
                        <span asp-validation-for="Input.Password" class="text-danger" style="color: #002b6c;"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Input.ConfirmPassword" class="form-label" style="color: #002b6c;">Confirm Password *</label>
                        <input asp-for="Input.ConfirmPassword" id="confirmpassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Confirm password" style="color: #002b6c;" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="color: #002b6c;"></span>
                    </div>

                    <div class="mb-3 form-check">
                        <input type="checkbox" id="showPasswordCheckbox" onclick="showPassword()" class="form-check-input" style="color: #002b6c;" />
                        <label for="showPasswordCheckbox" class="form-check-label" style="color: #002b6c;">Show password</label>
                    </div>

                    <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                </form> 
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}

<script>
    function showPassword() {
        var password = document.getElementById("password");
        var confirmpassword = document.getElementById("confirmpassword");
        if (password.type === "password" && confirmpassword.type === "password") {
            password.type = "text";
            confirmpassword.type = "text";
        } else {
            password.type = "password";
            confirmpassword.type = "password";
        }
    }
</script>
