@page
@model ResendEmailConfirmationModel
@{
ViewData["Title"] = "Resend email confirmation";
}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card-body">
                <h1 style="color: #002b6c;">@ViewData["Title"]</h1>
                <h2 style="color: #002b6c;">Enter your email.</h2>
                <hr />
                <form method="post">
                    <div asp-validation-summary="All" class="text-danger" role="alert"></div>
                    <div class="mb-3 form-floating">
                        <input asp-for="Input.Email" class="form-control" aria-required="true" placeholder="name@example.com" style="color: #002b6c;" />
                        <label asp-for="Input.Email" class="form-label" style="color: #002b6c;"></label>
                        <span asp-validation-for="Input.Email" class="text-danger" style="color: #002b6c;"></span>
                    </div>
                    <button type="submit" class="w-100 btn btn-lg btn-primary">Resend</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
