@page
@model ResetPasswordModel
@{
ViewData["Title"] = "Reset password";
}


<h1 style="color: #002b6c;">@ViewData["Title"]</h1>
<h2 style="color: #002b6c;">Reset your password.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" style="color: #002b6c;" />
                <label asp-for="Input.Email" class="form-label" style="color: #002b6c;"></label>
                <span asp-validation-for="Input.Email" class="text-danger" style="color: #002b6c;"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please enter your password." style="color: #002b6c;" />
                <label asp-for="Input.Password" class="form-label" style="color: #002b6c;"></label>
                <span asp-validation-for="Input.Password" class="text-danger" style="color: #002b6c;"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Please confirm your password." style="color: #002b6c;" />
                <label asp-for="Input.ConfirmPassword" class="form-label" style="color: #002b6c;"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger" style="color: #002b6c;"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
